<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <add key="Fwtl" value="https://pkgs.dev.azure.com/fwtl2/_packaging/Fwtl/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Fwtl>
      <add key="Username" value="unused" />
      <add key="ClearTextPassword" value="bkfdfdceevpchbmohqhce2gmwarvepxmjs7vhxzd5jk6it3sjfyq" />
    </Fwtl>
  </packageSourceCredentials>
</configuration>